.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(190, 221, 241, 0.5); 
	margin-top: 2em;
	width: 50%;
	height: auto;
	box-shadow: 0 5px 10px 0 #023047, 0 8px 20px 0 #023047; 
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card-container:hover {
	transform: scale(1.02);
}

.image {
	display: block;
  margin-left: auto;
 	margin-right: auto;
	width: 300px;
	height: 300px;
}

.info {
	padding: 10px;
	font-weight: 700;
	font-size: 1.5rem;
	text-shadow: 2px 2px 4px black;
}

@media only screen and (max-width: 850px) {
  .card-container {
    font-size: 14px;
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-height: 700px) {
  .card-container {
    font-size: 14px;
  }
  .image {
  	width: 200px;
		height: 200px;
  }
}